kind: Job 
apiVersion: batch/v1
metadata: 
  name: taint #panda #init
spec:
  template:
    metadata:
      name: taint #panda #init
    spec: 
      containers:
        - name: taint #panda #init
          image: taint:v1 #latest #taint:v1 #panda:v1 #taint:v1 #panda:v1 #init:v1
          imagePullPolicy: Never
          volumeMounts:
            - name: install-storage
              mountPath: "/install"
            - name: spitfire-pv-storage
              mountPath: "/spitfire"
            - name: inputs-pv-storage
              mountPath: "/inputs"
          envFrom: 
            - configMapRef: 
                name: dir-config 
      initContainers: 
        - name: get-target
          image: panda-xmllint:v1 #gtfo-source:v1
          volumeMounts: 
            - name: install-storage
              mountPath: "/install"
      volumes: # Pods access storage by using the claim as a volume. `
        - name: install-storage
          emptyDir: {}
        - name: spitfire-pv-storage
          persistentVolumeClaim: 
            claimName: spitfire-pv-claim
        - name: inputs-pv-storage
          persistentVolumeClaim: 
            claimName: inputs-pv-claim
      restartPolicy: OnFailure
