kind: ConfigMap
apiVersion: v1
metadata:
  name: job-counts 
data:
  FUZZER: '0'
  TAINT: '0'
  COVERAGE: '0' 
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: counts-pv-claim 
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
kind: CronJob 
apiVersion: batch/v1beta1
metadata: 
  name: fm 
spec:
  schedule: "*/1 * * * *"
  successfulJobsHistoryLimit: 100
  failedJobsHistoryLimit: 30
  jobTemplate:
    metadata:
      name: fm
    spec: 
      template:
        spec:
          containers:
            - name: fm
              image: fm:v1 #latest #taint:v1 #panda:v1 #taint:v1 #panda:v1 #init:v1
              imagePullPolicy: Never
              volumeMounts:
                - name: spitfire-pv-storage
                  mountPath: "/spitfire"
                - name: inputs-pv-storage
                  mountPath: "/inputs"
                - name: target-pv-storage
                  mountPath: "/target"
                - name: replay-pv-storage
                  mountPath: "/replay"
                - name: seed-corpus-pv-storage
                  mountPath: "/seed-corpus"
                - name: counts-pv-storage 
                  mountPath: "/counts" 
              envFrom: 
                - configMapRef: 
                    name: dir-config
                - configMapRef:
                    name: job-counts
              env:
                - name: COUNTS_DIR
                  value: /counts 
          volumes: # Pods access storage by using the claim as a volume. `
            - name: counts-pv-storage
              persistentVolumeClaim:
                claimName: counts-pv-claim
            - name: replay-pv-storage
              persistentVolumeClaim: 
                claimName: replay-pv-claim #{} # will make this persistent 
            - name: spitfire-pv-storage
              persistentVolumeClaim: 
                claimName: spitfire-pv-claim
            - name: inputs-pv-storage
              persistentVolumeClaim: 
                claimName: inputs-pv-claim
            - name: target-pv-storage
              persistentVolumeClaim:
                claimName: target-pv-claim
            - name: seed-corpus-pv-storage
              persistentVolumeClaim:
                claimName: seed-corpus-pv-claim
          restartPolicy: OnFailure
    