# What do I actually need to create in this yaml file?
# We need a deployment specification for panda and the fuzzer 
# We definitely need a specification for the fuzzing manager 
# the database and its parts and the file system and its parts 


# NOTE: .spec.selector must match .spec.template.metadata.labels
# NOTE: you need to create docker images and push them to a registry 
# before referring to them in an image tag; use Docker CLI
apiVersion: v1
kind: PersistentVolume
metadata:
  name: data-pv 
spec: 
  #storageClassName: manual # bound by storage class name?
  capacity: 
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  hostPath: 
    path: "/mnt/data"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: seed-corpus-pv-claim
spec:
  #storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: spitfire-pv-claim
spec:
  #storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: target-pv-claim
spec:
  #storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata: 
  name: gtfo-pv-claim
spec:
  #storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Gi

---
kind: Job 
apiVersion: batch/v1
metadata: 
  name: init
spec:
  template:
    metadata:
      name: init
    spec: 
      containers:
        - name: init
          image: hpreslier/init:v1
          imagePullPolicy: Always
          volumeMounts:
            - name: target-pv-storage
              mountPath: "/target"
            - name: gtfo-pv-storage
              mountPath: "/gtfo-source"
            - name: seed-corpus-pv-storage
              mountPath: "/seed-corpus"
            - name: spitfire-pv-storage
              mountPath: "/spitfire" 
      initContainers: 
        - name: get-target
          image: hpreslier/target:v1 #hpreslier/target:v1
          volumeMounts:
            - name: target-pv-storage
              mountPath: "/target"
        - name: get-gtfo-source
          image: hpreslier/gtfo-source:v1
          volumeMounts: 
            - name: gtfo-pv-storage
              mountPath: "/gtfo-source"
        - name: get-seed-corpus
          image: hpreslier/seed-corpus:v1
          volumeMounts:
            - name: seed-corpus-pv-storage
              mountPath: "/seed-corpus"
        - name: get-spitfire
          image: hpreslier/spitfire:v1
          imagePullPolicy: Always 
          volumeMounts:
            - name: spitfire-pv-storage
              mountPath: "/spitfire"
      volumes: # Pods access storage by using the claim as a volume. `
        - name: target-pv-storage
          persistentVolumeClaim:
            claimName: target-pv-claim 
        - name: gtfo-pv-storage
          persistentVolumeClaim: 
            claimName: gtfo-pv-claim
        - name: seed-corpus-pv-storage
          persistentVolumeClaim:
            claimName: seed-corpus-pv-claim 
        - name: spitfire-pv-storage
          persistentVolumeClaim:
            claimName: spitfire-pv-claim
      restartPolicy: OnFailure



